.mapRouting{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 300px repeat(auto-fill, minmax(300px, 100%));
    /* justify-content: space-between; */
    margin: 0 auto;
    width: 80%;
}
@media (max-width: 600px){
    .mapRouting{
        display: grid;
        grid-template-columns: 100%;
}
}
.mapRouting__points{
    width: 100%;
}
.mapRouting__map{
    min-width: 300px;
    max-width: 1900px;
}